.section-project{
    position: relative;
    background-color: var(--primary-text-color);
    background-image: url(https://i.postimg.cc/sxY0CTz9/jon-flobrant-v1e-V6-HUdc-IE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    margin: 70px 0 0;
    padding: 72px 0 300px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}
