
:root {
    --primary-text-color: #324B4D;
    --second-text-color: #E2F1EC;
    --title-text-color: #016E75;
    --accent-color: #016E75;
    --wite: #ffffff;
    --background-btn: linear-gradient(45deg,#C3DFC5,#4B8D7B 50%,#016E75);
    --primary-background-color: #E2F1EC;
}